$color0: #242f42;
$color1: #31313e;
$color2: #121a29;
$color3: #0f151f;
$color4: #070a0f;
$color5: #000000;

$color6: #ffcb36;
$color7: #ff7c35;
$color8: #e31d65;
$color9: #25a954;
$color10: #007d97;
$color11: #553ab8;

$color12: #ffffff;