html, body {
  background: $color3;
  color: $color12;
}

#home {
  background-image: url("/assets/img/trianglify.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

#front {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  .content-inner {
    width: 100%;
    margin-top: -3rem;
  }
}

footer {
  position: relative;
  padding: 2rem 0 5rem 2rem;
  width: calc(100% - 300px);
  left: 300px;
  text-align: center;
  color: $color14;
  font-size: 0.8rem;
  &.home {
    width: 100% !important;
    left: 0;
    padding: 0;
    line-height: 1;
    font-size: 0.6rem;
    height: 64px;

  }
  @media(max-width: 768px) {
    left: 0;
    width: 100%;
    padding: 2rem 0 5rem 0;
  }
}