nav[aria-label='site'] {
  border-bottom: 1px solid $color1;
  background: $color3;
  box-shadow: 0 1rem 5rem -0.5rem $color5;
  height: 64px;
  line-height: 1.5;
  z-index: 10;
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a.logo {
    font-weight: bold;
    font-size: 20px;
    border-bottom: none;
    display: block;
    margin: 0 1rem;
    .highlight {
      color: $color6;
    }
    .vh {
      position: absolute !important;
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
    }
  }
  ul {
    max-width: 1200px;
    height: 100%;
    list-style-type: none;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      margin: 0 0.25rem;
      a {
        color: $color12;
        height: 100%;
        text-decoration: none;
        font-size: 16px;
        border: 0;
        padding: 0;
      }
    }
  }
}

