button, .btn {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  background: $color6;
  border: 2px solid $color6;
  margin-top: 1.5rem;
  cursor: pointer;
  color: $color3;
  display: inline-block;
  &.btn-block {
    display: block;
    width: 100%;
  }
}