@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
.hljs {
  display: block;
  overflow-x: auto;
  padding: 2.25rem 0.5rem 1.75rem 0.5rem;
  background: #282a36; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-section,
.hljs-link {
  color: #8be9fd; }

.hljs-function .hljs-keyword {
  color: #ff79c6; }

.hljs,
.hljs-subst {
  color: #f8f8f2; }

.hljs-string,
.hljs-title,
.hljs-name,
.hljs-type,
.hljs-attribute,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #f1fa8c; }

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #6272a4; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold; }

.hljs-emphasis {
  font-style: italic; }

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto; }

*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

html {
  font-family: 'Ubuntu', sans-serif;
  font-size: calc(1em + 0.5vw);
  line-height: 1.5; }

:focus:not([tabindex='-1']) {
  outline: 4px solid #ffcb36;
  outline-offset: 2px;
  z-index: 4; }

::selection {
  background: #ffcb36;
  /* WebKit/Blink Browsers */ }

[href='#main'] {
  position: absolute;
  top: -2em;
  right: 0.7rem; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid; }

ul.inline {
  margin: 1rem 0;
  padding: 0; }
  ul.inline li {
    display: inline-block;
    margin: 0 0.25rem; }

hr {
  border: 0;
  border-top: 2px dashed #0f151f;
  position: relative;
  display: block;
  overflow: visible; }
  hr.reversed {
    border-top: 2px dashed #ffffff; }
  hr:after {
    content: "";
    position: absolute;
    right: 0px;
    top: -6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #0f151f;
    display: block;
    transition: 0.3s; }

pre {
  background: #31313e;
  color: #ffffff;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  overflow-x: scroll;
  padding: 1rem;
  font-size: 0.75rem;
  position: relative; }
  pre:after {
    content: attr(data-code);
    position: absolute;
    top: 5px;
    left: 0.5rem;
    color: #647594;
    font-weight: bold;
    font-size: 0.55rem;
    text-transform: uppercase;
    letter-spacing: 1px; }
  pre code {
    font-size: 0.75rem;
    background: none !important; }

code {
  background: #31313e;
  color: #ffffff;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 0.85rem;
  padding: 0 0.25rem; }

html, body {
  background: #0f151f;
  color: #ffffff; }

#home {
  background-image: url("/assets/img/trianglify.svg");
  background-repeat: no-repeat;
  background-size: cover; }

#front {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0; }
  #front .content-inner {
    width: 100%;
    margin-top: -3rem; }

footer {
  position: relative;
  padding: 2rem 0 5rem 2rem;
  width: calc(100% - 300px);
  left: 300px;
  text-align: center;
  color: #647594;
  font-size: 0.8rem; }

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem; }
  .content .row {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; }
    @media (max-width: 768px) {
      .content .row {
        flex-wrap: wrap !important; }
        .content .row .col-25, .content .row .col-50, .content .row .col-75, .content .row .col-100 {
          width: 100% !important; } }
    .content .row .col-25, .content .row .col-50, .content .row .col-75, .content .row .col-100 {
      margin: 0 0.5rem; }
    .content .row .col-100 {
      width: 100%; }
    .content .row .col-75 {
      width: 75%; }
    .content .row .col-50 {
      width: 50%; }
    .content .row .col-25 {
      width: 25%; }
  .content .center {
    text-align: center; }

.documentation-content {
  position: relative;
  padding: 2rem 0 5rem 2rem;
  width: calc(100% - 300px);
  left: 300px; }

nav[aria-label='site'] {
  border-bottom: 1px solid #31313e;
  background: #0f151f;
  box-shadow: 0 1rem 5rem -0.5rem #000000;
  height: 64px;
  line-height: 1.5;
  z-index: 10;
  position: fixed;
  width: 100vw; }
  nav[aria-label='site'] ul {
    max-width: 1200px;
    display: flex;
    height: 100%;
    list-style-type: none;
    align-items: center;
    margin: 0 auto;
    padding: 0 1rem;
    justify-content: space-between; }
    nav[aria-label='site'] ul li {
      margin: 0; }
      nav[aria-label='site'] ul li a {
        color: #ffffff;
        height: 100%;
        text-decoration: none;
        font-size: 16px;
        border: 0; }
      nav[aria-label='site'] ul li:first-child {
        width: 80%; }
        nav[aria-label='site'] ul li:first-child a {
          font-weight: bold;
          font-size: 20px; }
          nav[aria-label='site'] ul li:first-child a .highlight {
            color: #ffcb36; }
          nav[aria-label='site'] ul li:first-child a .vh {
            position: absolute !important;
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0 !important;
            border: 0 !important;
            height: 1px !important;
            width: 1px !important;
            overflow: hidden; }

input[type='text'],
input[type='password'] {
  font-size: 1rem;
  border: 2px solid #31313e;
  background: #0f151f;
  padding: 0.5rem 1.5rem;
  margin-top: 1.5rem;
  border-radius: 1.5rem;
  width: 100%;
  color: #ffffff; }

label {
  color: #a6b0c3;
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

button, .btn {
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 1.5rem;
  background: #ffcb36;
  border: 2px solid #ffcb36;
  margin-top: 1.5rem;
  cursor: pointer;
  color: #0f151f;
  display: inline-block; }
  button.btn-block, .btn.btn-block {
    display: block;
    width: 100%; }

.loader-fancy {
  position: relative;
  margin: 0 auto;
  width: 100px; }
  .loader-fancy.loader-fancy-small {
    width: 1.1rem; }
  .loader-fancy.loader-fancy-large {
    width: 150px; }
  .loader-fancy::before {
    content: '';
    display: block;
    padding-top: 100%; }
  .loader-fancy .circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
    .loader-fancy .circular .path {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
      stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%, 0% {
    stroke: #0f151f; }
  40% {
    stroke: #121a29; }
  66% {
    stroke: #0f151f; }
  80%, 90% {
    stroke: #070a0f; } }

aside#sidebar {
  width: 300px;
  box-shadow: inset -9rem 0 9rem -9rem #000;
  border-right: 1px solid #29303d;
  position: fixed;
  top: 64px;
  bottom: 0;
  height: 100vh;
  z-index: 9; }
  aside#sidebar .title {
    height: 2.5rem;
    line-height: 2.5rem;
    color: #647594;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: .55rem;
    border-bottom: 1px solid rgba(55, 64, 81, 0.5);
    position: relative;
    margin: 2rem 0 0 0;
    padding: 0rem 2rem;
    left: -2rem;
    width: calc(100% + 2rem); }
    @media (max-width: calc(1200px + 2rem)) {
      aside#sidebar .title {
        padding: 0rem 1rem;
        left: -1rem;
        width: calc(100% + 1rem); } }
  aside#sidebar a {
    display: block;
    position: relative;
    border: 0;
    font-size: 0.65rem;
    font-weight: bold;
    padding: 0.35rem 2rem;
    left: -2rem;
    width: calc(100% + 2rem);
    margin: 0; }
    @media (max-width: 1200px) {
      aside#sidebar a {
        padding: 0.35rem 1rem;
        left: -1rem;
        width: calc(100% + 1rem);
        margin: 0; } }
    aside#sidebar a.selected {
      color: #ffcb36;
      pointer-events: none;
      cursor: default;
      background: #121a29; }
      aside#sidebar a.selected:after {
        background-color: #ffcb36;
        width: 0.25rem; }
    aside#sidebar a:after {
      transition: width .3s;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      display: block;
      background-color: #2b3d5f;
      height: 100%;
      width: .002%; }
    aside#sidebar a:hover {
      background-color: rgba(43, 61, 95, 0.125);
      box-shadow: inset -4.5rem 0 6.75rem -7rem #000000; }
      aside#sidebar a:hover:after {
        width: .25rem; }

body#shell a.link-shell {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#shell a.link-shell:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#shell a.link-shell {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#shell a.link-shell:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#php a.link-php {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#php a.link-php:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#jquery a.link-jquery {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#jquery a.link-jquery:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#javascript a.link-javascript {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#javascript a.link-javascript:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#python a.link-python {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#python a.link-python:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#java a.link-java {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#java a.link-java:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#ruby a.link-ruby {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#ruby a.link-ruby:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#c a.link-c {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#c a.link-c:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#about a.link-about {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#about a.link-about:after {
    background-color: #ffcb36;
    width: 0.25rem; }

body#guide a.link-guide {
  color: #ffcb36;
  pointer-events: none;
  cursor: default;
  background: #121a29; }
  body#guide a.link-guide:after {
    background-color: #ffcb36;
    width: 0.25rem; }
